<div class="container">
    <h4>{{ movieInfo.title }}</h4>
    <p>{{ movieInfo.runTime }} | {{ movieInfo.rating }} </p>
</div>
<div class="container">
    <h5 class="center-align">Select {{ seatsHold.length }} Remaining Tickets</h5>
    

    <div class="row center-align">
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('add ticket','adult')">+</a>
        </div>
        <div class="col s2 center">
            <h4>Adult</h4>
        </div>
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('remove ticket','adult')">-</a>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('add ticket','child')">+</a>
        </div>
        <div class="col s2 center">
            <h4>Child</h4>
        </div>
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('remove ticket','child')">-</a>
        </div>
    </div>
    <div class="row center-align">
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('add ticket','senior')">+</a>
        </div>
        <div class="col s2 center">
            <h4>Senior</h4>
        </div>
        <div class="col s5">
            <a class="btn waves-effect waves-light btn-small" (click)="updateTicket('remove ticket','senior')">-</a>
        </div>
    </div>

</div>
<div class="container">
    <p>{{ orderTicketType.length }} Ticket Selected</p>
    <button class="waves-effect waves-light btn">Continue</button>
</div>