<div class="light-blue lighten-2">
    <div class="container">
        <h4>Welcome to Avatar Movie Threatre</h4>
    </div>
</div>
<div>
    <div class="container">
        <h4>Movies Playing</h4>
        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ playingMovieList[0].posterURL }}" alt="{{ playingMovieList[0].title }}">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{ playingMovieList[0].title }}</h4>
                        <p>{{ playingMovieList[0].runTime }} | {{ playingMovieList[0].rating }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small">Get Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ playingMovieList[1].posterURL }}" alt="{{ playingMovieList[1].title }}">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{ playingMovieList[1].title }}</h4>
                        <p>{{ playingMovieList[1].runTime }} | {{ playingMovieList[1].rating }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small">Get Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ playingMovieList[2].posterURL }}" alt="{{ playingMovieList[2].title }}">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{ playingMovieList[2].title }}</h4>
                        <p>{{ playingMovieList[2].runTime }} | {{ playingMovieList[2].rating }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small">Get Tickets</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ playingMovieList[3].posterURL }}" alt="{{ playingMovieList[3].title }}">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">{{ playingMovieList[3].title }}</h4>
                        <p>{{ playingMovieList[3].runTime }} | {{ playingMovieList[3].rating }}</p>
                    </div>
                    <div class="card-action">
                        <a class="waves-effect waves-light btn-small">Get Tickets</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>