<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="card blue darken-2">
                <div class="card-content">
                    <span class="card-title">
                        <h4>Welcome to Avatar Movie Threatre</h4>
                    </span>
                    <button class="waves-effect waves-light btn">Get Tickets</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        <h4>Movies Playing</h4>
        <div class="row">
            <div *ngFor="let movie of playingMovieList.slice(0,4)">
                <div class="col s12 m4 l3" >
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ movie.posterURL }}" alt="{{ movie.title }}">
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">{{ movie.title }}</h4>
                            <p>{{ movie.runTime }} | {{ movie.rating }}</p>
                        </div>
                        <div class="card-action">
                            <a class="waves-effect waves-light btn-small">Get Tickets</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>